{% extends 'base.html.twig' %}
{% block head %}

{% endblock %}
{% block body %} 
    <!doctype html>
    <html>

        <head>
            <title>Simple Map</title>
            <meta name="viewport" content="initial-scale=1.0">
            <meta charset="utf-8">
            <style>
                /* Always set the map height explicitly to define the size of the div
                 * element that contains the map. */
                


            </style>
        </head>
        <body>
            <div>
                <div id="map"></div>
                <div class="notafications">
                    <ol>
                        <p class="title_notafication">Wydarzenie które mogę Cię zainteresować</p>
                        {% for notafication in notafications %}
                            <ul>&bull; {{notafication}}</ul>
                        {% endfor %}
                    </ol>
                </div>
            </div >
            <div class="places">
                <p class="title_places">Miejsca na które warto zwrócić uwagę</p>
                <ol class="place">
                {% for place in places %}
                    <ul>&bull; {{place}}</ul>
                {% endfor %}
                </ol>
            </div>
                
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key={{ googleApi }}&callback=initMap"
            async defer></script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </body>
    </html>
{% endblock %}