<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        

    </head>
    <body>
        {% block nav %}
            <div class="menu" id="menu">
                <ul>
                    <li><a class="active" href="myaccount">My Account</a></li>
                    <li><a class="active" href="#news">News</a></li>
                    <li><a class="active" href="#contact">Contact</a></li>
                    <li style="float:right"><a class="active" href="#about">About</a></li>
                </ul>
            </div>
        {%endblock %}
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
